
@{
    ViewBag.Title = "About";
    Layout = "~/Layouts/CustomerLayout.cshtml";
}

<div class="container-fluid px-5 mt-3">
    <div class="row text-white">
        <div class="col-12 bg-renk rounded-3 my-2 p-5">
            <h1>HAKKIMIZDA</h1>
            <p class="fs-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, cum. Praesentium, esse inventore? A perferendis, officiis placeat officia veniam, voluptas provident quaerat suscipit, nesciunt minima ab doloribus illo amet quisquam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam blanditiis tempore iusto accusamus ea rerum omnis laboriosam quasi earum reiciendis veritatis nihil, dolores quisquam, at quia nam eligendi dolor amet.
            </p>
            <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, cum. Praesentium, esse inventore? A perferendis, officiis placeat officia veniam, voluptas provident quaerat suscipit, nesciunt minima ab doloribus illo amet quisquam.</p>
        </div>

        <div class="col-12 col-md-6 p-0 pe-md-3 mt-4 mb-2">
            <div class="bg-renk rounded-3 p-5">
                <h1>VİZYONUMUZ</h1>
                <p class="fs-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio esse earum expedita animi quaerat, error aliquam modi atque obcaecati voluptates quos perferendis alias numquam perspiciatis, quo voluptatum? Consequuntur, suscipit deserunt.</p>
            </div>
        </div>

        <div class="col-12 col-md-6 p-0 ps-md-3 mt-4 mb-2">
            <div class="bg-renk rounded-3 p-5">
                <h1>MİSYONUMUZ</h1>
                <p class="fs-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio esse earum expedita animi quaerat, error aliquam modi atque obcaecati voluptates quos perferendis alias numquam perspiciatis, quo voluptatum? Consequuntur, suscipit deserunt.</p>
            </div>
        </div>

        <div class="col-12 bg-renk rounded-3 mt-4 mb-2 p-5">
            <div class="row">
                <h1>YÖNETİM</h1>
                <div class="col-12 col-md-3 mt-2 rounded-3">
                    <img class="w-100 rounded-3" src="~/Content/Images/pp.png" alt="">
                </div>
                <div class="col-12 col-md-9">
                    <h2 class="mt-2 pt-1 mb-0">Anıl Uzuner</h2>
                    <div class="fs-5 fw-bold mb-3 ps-1">Founder - CEO - CFO - CTO</div>
                    <p class="fs-5 ps-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, cum. Praesentium, esse inventore? A perferendis, officiis placeat officia veniam, voluptas provident quaerat suscipit, nesciunt minima ab doloribus illo amet quisquam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam blanditiis tempore iusto accusamus ea rerum omnis laboriosam quasi earum reiciendis veritatis nihil, dolores quisquam, at quia nam eligendi dolor amet.
                    </p>
                    <p class="fs-5 ps-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, cum. Praesentium, esse inventore? A perferendis, officiis placeat officia veniam, voluptas provident quaerat suscipit, nesciunt minima ab doloribus illo amet quisquam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam blanditiis tempore iusto accusamus ea rerum omnis laboriosam quasi earum reiciendis veritatis nihil, dolores quisquam, at quia nam eligendi dolor amet.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

